
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

    h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 


}
 .header-coast{
   color: white; 
   margin-left: 200px;
}
/**** navbar start ****/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.navbar-brand {
    color: white !important;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 2rem;
}
.nav-link {
    color: pink !important;
    font-weight: 700;
    font-size: 18px;
}
.nav-link:hover {
    color: lawngreen !important;
}
/**** navbar stop ****/

/* header */
.head-top {
    list-style-type: none;
  background-color: grey !important;
 padding: 5px;
   
}
.header-info li i {
    color: black;
    font-weight: 700;
    font-size: large;
} 
.header-info li i:hover {
    color: white;
    background-color: black;
    font-size: 35px;
}
.header-info{
margin-left: auto;
 
}
.bg-dark {
    color: black;
}
.header-links {
margin-left: auto;
}
 .header-links a i {
color: black;
padding: 10px;
background-color: deepskyblue;
font-weight: 700;
font-size: 25px;
}
.header-links a i:hover {
    color: white;
    font-size: 35px;
    background-color: skyblue;
}
/* clip path // hope page image */
.clip-path {
    min-width: 100vw;
   height: 90vh;
    background-image: url('images/a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
    -wibkit-clip-path:polygon(100% 0,100% 100%, 76% 79%, 0 98%, 1% 0, 33% 27%);
    clip-path: polygon(100% 0, 100% 100%, 76% 79%, 0 98%, 1% 0, 33% 27%);
}
.home-banner {
    min-width: 100vh;
    min-height: 80vh;
    justify-content:center ;
    display: flex;
    align-items: center;
    text-align: center;
    /* margin-top: 200px; */

}
.banner-paragragh {
    color: white;
    font-size: 30px;
    font-weight: 800;
}
@media screen (min-width: 600px) {
.banner-paragragh {
    width: 100%;
    
}
}

/* ball */


/* @keyframes slide {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 244px;
        top: 100px;
    }
    100% {
        left: 480px;
        top: 0;
    }
}
.stage {
background: #eaeaed;
border-radius: 6px;
height: 150px;
position: relative;
width: 538px;
}
.stage .ball {
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   .ball {
       background: #0b3313;
       border-radius: 50%;
       height: 50px;
       position: absolute;
       width: 50px;
   }
   .stages:hover .balls {
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 animation-fill-mode: forwards;
}
.stages:active .balls {
    animation-play-state: paused;
} */

/* cards images */
.card img {
    width: 100%;
    height: 200px;
}
/* carousel */
.carousel-item {
    min-width: auto;
    min-height: auto;
}
.carousel-caption {
    color: white;
}